<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxsj.baipiao.dal.dao.GoodsMapper">
    <resultMap id="BaseResultMap" type="com.cxsj.baipiao.domain.Goods"/>

    <sql id="Base_Column_List">
        id, title,price,goods_desc,primary_image,category_id,stock_num,images,sold_num,desc_image,gmt_create,gmt_modified,feature,spec_desc
    </sql>
    <insert id="insert">
        insert into goods (id, gmt_create, gmt_modified, title,price,goods_desc,
                             primary_image,category_id,stock_num,images,sold_num,desc_image, feature,spec_desc)
        values ( #{id,jdbcType=BIGINT}, now(), now(), #{title},#{price}, #{goodsDesc}, #{primaryImage}
               , #{categoryId}, #{stockNum}, #{images}, #{soldNum},#{descImage} #{feature,jdbcType=VARCHAR},#{specDesc})
    </insert>

    <select id="pageQueryByCondition" resultType="com.cxsj.baipiao.domain.Goods">
        select
        <include refid="Base_Column_List"/>
        from goods where 1=1
        <if test="categoryId !=null and categoryId !=''">
            and category_id= #{categoryId}
        </if >
        <if test="goodsName !=null and goodsName !=''">
            and title like CONCAT('%',#{goodsName},'%')
        </if > order by id desc limit #{index},#{pageSize}
    </select>

    <select id="queryById" resultType="com.cxsj.baipiao.domain.Goods">
        select
        <include refid="Base_Column_List"/>
        from goods where id = #{id}
    </select>

</mapper>