<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxsj.baipiao.dal.dao.OrderAddressMapper">
    <resultMap id="BaseResultMap" type="com.cxsj.baipiao.domain.Address"/>

    <sql id="Base_Column_List">
        id
        , order_id
        , gmt_create, gmt_modified, province, city, area, town, detail, receive_name,telephone, feature
    </sql>

    <insert id="insert">
        insert into order_address (gmt_create, gmt_modified, order_id,
                                   province, city, area, town, detail, receive_name,telephone, feature)
        values ( now(), now(), #{orderId}, #{province}, #{city}
               , #{area}, #{town}, #{detail}, #{receiveName},#{telephone}, #{feature,jdbcType=VARCHAR})
    </insert>
    <select id="queryByOrder" resultType="com.cxsj.baipiao.domain.Address">
        select
        <include refid="Base_Column_List"/>
        from order_address where order_id = #{orderId}
    </select>

</mapper>